<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <title>Black and White</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angularjs/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/main.js"></script>
</head>
<body ng-app="blackAndWhite">
<div style="margin-left: 10px;width: 200px" ng-controller="container" ng-init="init();">
    <!--
    http://www.nextree.co.kr/p4850/
    A : {{A.score}}<input type="text" pattern="\d*" class="form-control" ng-model="A_minus" ng-change="blackAndWhite_box(A_minus,'A')" /><input type="button" class="btn" id="A_btn" ng-click="betting(A,A_minus)" value="배팅" /><span ng-bind="A_minus"></span> <div class="color_box" ng-class="{black:A.box_black}"></div>
    B : {{B.score}}<input type="text" pattern="\d*" class="form-control" ng-model="B_minus" ng-change="blackAndWhite_box(B_minus,'B')"/><input type="button" class="btn" id="B_btn" ng-click="betting(B,B_minus)" value="배팅" /><span ng-bind="B_minus"></span> <div class="color_box" ng-class="{black:B.box_black}"></div>
    -->
</div>
</body>
</html>